*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #fba3cc;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 20px 0;
}
.cabecalho-logo{
    width: 10%;
}
.cabecalho-imagem{
     width: 10%;
    
    
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
}

.music-imagem{
    width: 10%;
    
}

.music{
    background-image: linear-gradient(#fba3cc,#fbc7e2);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.music-div-conteudo{
    width: 35%;
}


.music-titulo{
    padding: 34px 0;
}

.music{
    padding: 25px 0;
}
.music-imagem{
    width: 140px;
}

.music-icone{
    width: 25px;
    padding: 4px 8px;
}

.music-div{
    text-align: center;
    padding: 16px 0;
}

.music-titulo{
    text-align: center;
    padding: 20px 0;
}

.music-all{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgba(156, 174, 177, 0.411);
}

.rodape{
    background-color: rgba(0, 81, 255, 0.575);
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}

p{
    text-align: justify;
}

h2{
    text-align: center;
}
